@font-face {
    font-family: "Roboto";
    src: url("fonts\\Roboto\Roboto-Light.ttf");
    font-weight: 400;
}
h1 {

    color: greenyellow;
    font-size: 40px;
    font-family: "Roboto";
    text-align: left;
}

h2 {
    color: blue
}
img{
    width: 150px;
    height: 100px;
    box-shadow: 2 2 7 grey;
    margin: 0.5%;
    border: dashed violet;
    padding: 4px;
    background-color: wheat;
    
    
}
#img-1 {
    display: inline;
}

html {
    background-color: rgb(190, 190, 178);
    background-image: url("../img/restaurant.jpg");
    background-repeat: repeat-y;
    background-position: center;
}