@font-face {
    font-family: "oswald";
    src: url("fonts\\Oswald\\Oswald-ExtraLight.ttf");
    font-weight: 200;
}
h1 {

    color: greenyellow;
    font-size: 40px;
    font-family: "Oswald"
}

h2 {
    color: blue
}
img{
    width: 150px;
    height: 100px
}